.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-card {
  margin: 5% 20% 5%;
}

.Logout-col {
  text-align: right;
}

.Logout-button {
  margin: 1%;
}

.Movie-poster {
  width: 15% !important;
}

.Movie-favorite {
  color: red;
}
